In [20]:
import numpy as np 
import pandas as pd
cust_behav = pd.read_csv("Customer_Behaviour.csv")
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [21]:
cust_behav.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [22]:
cust_behav = cust_behav.replace(['Female','Male'],[1,0])

In [23]:
#cust_behav.groupby('Gender').count()
#cust_behav.groupby('Age').count()['Gender']
#cust_behav['EstimatedSalary'].hist()
#cust_behav['EstimatedSalary'].min()
#cust_behav.hist()

In [24]:
X = cust_behav.iloc[:,1:4]
y = cust_behav.iloc[:,4:5]

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25)

In [26]:
loss_dic = {}

#for i in [10,50,100,150,200,250,300,1000]:
for i in range(10,200):
    cust_model = RandomForestClassifier(n_estimators = i,random_state = 0)
    cust_model.fit(X_train,np.ravel(y_train))
    loss_dic[i] = mean_absolute_error(cust_model.predict(X_test),y_test)
                                                     
min(loss_dic, key=loss_dic.get)

25

In [27]:
cust_model = RandomForestClassifier(n_estimators = 25,random_state = 0)
cust_model.fit(X_train,np.ravel(y_train))
y_pred = cust_model.predict(X_test)
f1_score(y_pred,y_test)

0.8307692307692308

In [28]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.90      0.94      0.92        66
           1       0.87      0.79      0.83        34

    accuracy                           0.89       100
   macro avg       0.88      0.87      0.87       100
weighted avg       0.89      0.89      0.89       100

SyntaxError: invalid syntax (<ipython-input-29-294fcd1bc8dd>, line 1)